# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Ansible
ansible/inventory/
!ansible/inventory/
!ansible/inventory/example.yml
ansible/inventory/hosts.yml

# Local & editor
*.log
*~
.DS_Store
Thumbs.db