name: Deploy PostgreSQL HA Cluster

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./terraform
        env:
          TF_VAR_ssh_pub_key: ${{ secrets.SSH_PUB_KEY }}
          TF_VAR_yc_token: ${{ secrets.YC_TOKEN }}
          TF_VAR_yc_cloud_id: ${{ secrets.YC_CLOUD_ID }}
          TF_VAR_yc_folder_id: ${{ secrets.YC_FOLDER_ID }}

      # Автоматическая генерация инвентаря
      - name: Generate inventory from Terraform
        run: |
          mkdir -p ansible/inventory
          chmod +x ansible/generate_inventory.sh
          ./ansible/generate_inventory.sh

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Ansible and jq
        run: |
          pip install ansible-core
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Run Ansible playbook
        run: |
          ansible-playbook \
            -i ansible/inventory/hosts.yml \
            ansible/site.yml \
            --vault-password-file=<(echo "$ANSIBLE_VAULT_PASSWORD")
        env:
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}